# Phase 1: Data Discovery & Analysis
### Data Engineering Assignment

#### üë§ Author: Sarvesh Bajare
#### üè¢ Role: Data Engineering Intern
#### üìÖ Date: 21/06/25

---

## üß† Objective
This notebook initiates the first phase of building a unified data pipeline by:
- Exploring three disparate datasets from recently acquired e-commerce platforms.
- Identifying data quality issues and inconsistencies.
- Mapping relationships across datasets to form a normalized schema.
- Strategizing the complete data cleaning approach.

---

## üìÅ Datasets Overview

| Source | File Name | Format | Contents |
|--------|-----------|--------|----------|
| Platform A | `customers_messy_data.json` | JSON | Customer records |
| Platform B | `products_inconsistent_data.json` | JSON | Product catalog |
| Platform C | `orders_unstructured_data.csv` | CSV | Order transaction logs |

#### Step 1: 
First I will start with loading the data from multiple sources. For now, I am doing this by simply loading it from srotage with native csv and json handling techniques. In further versions this can be done by simulating data retreival from multi cloud based data storages.

In [27]:
import pandas as pd
import json

# csv
orders_df = pd.read_csv("datasets/orders_unstructured_data.csv")

# json file 1
with open("datasets/customers_messy_data.json") as f:
    customer_json = json.load(f)
# Fix: If customer_json is a list of dicts (records), load directly
if isinstance(customer_json, list):
    customers_df = pd.DataFrame(customer_json)
else:
    customers_df = pd.DataFrame([customer_json]) 

# json file 2
with open("datasets/products_inconsistent_data.json") as f:
    product_json = json.load(f)
# Fix: If product_json is a list of dicts (records), load directly
if isinstance(product_json, list):
    products_df = pd.DataFrame(product_json)
else:
    products_df = pd.DataFrame([product_json])

#### Step 2:
Inspecting the Datasets for their shape (size) and inclusion of various datatypes. Here, both json files will have objects as contains (still checking to avoid any anamolies during the transform phase).

In [28]:
# preview each dataset
display(orders_df.head())
display(customers_df.head())
display(products_df.head())

# Shape check
print("Orders shape:", orders_df.shape)
print("Customers shape:", customers_df.shape)
print("Products shape:", products_df.shape)

# Data types
print("Orders dtypes:")
print(orders_df.dtypes)

print("\nCustomers dtypes:")
print(customers_df.dtypes)

print("\nProducts dtypes:")
print(products_df.dtypes)

,order_id,ord_id,customer_id,cust_id,order_date,order_datetime,product_id,item_id,quantity,qty,...,order_total,shipping_cost,tax,discount,status,order_status,payment_method,shipping_address,notes,tracking_number
0,ORD_00001,1,109,CUST_0109,NaN,2023-10-09T02:35:00.000Z,PROD_165,63,6,4,...,710.25,17.20,6.83,48.89,returned,SHIPPED,cash,608 Oak Ave,NaN,TRK769590
1,ORD_00002,2,279,CUST_0279,1/26/2023,NaN,PROD_154,186,7,1,...,63.82,16.11,17.13,10.09,NaN,CANCELLED,bank_transfer,5636 Main St,NaN,TRK965629
2,ORD_00003,3,6,CUST_0006,NaN,2023-12-12T14:59:00.000Z,PROD_070,115,1,4,...,656.66,24.84,7.46,0.00,CANCELLED,CANCELLED,debit_card,7410 Oak Ave,NaN,TRK280164
3,ORD_00004,4,248,CUST_0248,7/17/2023,2023-10-13T16:44:00.000Z,PROD_102,182,9,3,...,118.88,14.14,41.12,0.00,SHIPPED,NaN,credit_card,4492 Oak Ave,NaN,NaN
4,ORD_00005,5,353,CUST_0353,8/23/2023,2023-09-09T04:55:00.000Z,PROD_197,145,4,1,...,246.92,6.45,14.05,0.00,returned,SHIPPED,paypal,8501 Pine Rd,NaN,TRK710064

,customer_id,cust_id,customer_name,full_name,email,email_address,phone,phone_number,address,city,...,status,customer_status,total_orders,total_spent,loyalty_points,preferred_payment,age,birth_date,gender,segment
0,1,CUST_0001,Grace Lee,Charlie Brown,customer1@example.com,user1@domain.com,None,,3108 Oak Ave,NYC,...,suspended,None,22,1830.44,272,paypal,NaN,None,Female,None
1,2,CUST_0002,Bob Wilson,Bob Wilson,None,user2@domain.com,555-5457,,9256 Second Ave,Los Angeles,...,None,ACTIVE,25,2107.53,37,None,51.0,1971-07-27,,None
2,3,CUST_0003,Grace Lee,Bob Wilson,customer3@example.com,user3@domain.com,None,(555) 170-7757,3136 First St,Chicago,...,active,None,15,351.82,225,None,41.0,None,None,new
3,4,CUST_0004,John Smith,diana.prince,None,user4@domain.com,555-3017,(555) 266-3492,9294 Main St,new_york,...,INACTIVE,INACTIVE,27,155.54,576,credit_card,NaN,None,F,vip
4,5,CUST_0005,henry.davis123,Charlie Brown,customer5@example.com,user5@domain.com,None,,5012 Oak Ave,Phoenix,...,suspended,pending,5,3762.96,132,credit_card,59.0,1998-11-18,None,None

,product_id,item_id,product_name,item_name,description,category,product_category,brand,manufacturer,price,...,color,size,stock_quantity,stock_level,reorder_level,supplier_id,created_date,last_updated,is_active,rating
0,PROD_001,1,Product 1,Item 1 Name,Description for product 1,clothing,clothing,BRAND-C,BrandA,102.18,...,,,538,282,13,None,None,2023-08-10T18:30:00.000Z,no,2.7
1,PROD_002,2,Product 2,Item 2 Name,Description for product 2,Home & Garden,Electronics,BrandA,brand_b,259.94,...,Black,L,859,33,29,SUP_04,2022-11-08,2023-07-19T18:30:00.000Z,1,4.0
2,PROD_003,3,Product 3,Item 3 Name,Description for product 3,CLOTHING,Toys,brand_b,Brand D,200.05,...,None,S,815,251,36,SUP_05,2020-09-25,2023-01-06T18:30:00.000Z,False,None
3,PROD_004,4,Product 4,Item 4 Name,Description for product 4,Sports,electronics,brandE,brandE,254.98,...,Black,M,278,429,39,SUP_15,2020-11-21,2023-04-04T18:30:00.000Z,0,3.1
4,PROD_005,5,Product 5,Item 5 Name,Description for product 5,Electronics,Electronics,Brand D,Brand D,237.76,...,Red,,463,249,18,SUP_16,None,2023-04-27T18:30:00.000Z,False,None

Orders shape: (1000, 23)
Customers shape: (500, 25)
Products shape: (200, 24)
Orders dtypes:
order_id             object
ord_id                int64
customer_id           int64
cust_id              object
order_date           object
order_datetime       object
product_id           object
item_id               int64
quantity              int64
qty                   int64
unit_price          float64
price               float64
total_amount        float64
order_total         float64
shipping_cost       float64
tax                 float64
discount            float64
status               object
order_status         object
payment_method       object
shipping_address     object
notes                object
tracking_number      object
dtype: object

Customers dtypes:
customer_id           object
cust_id               object
customer_name         object
full_name             object
email                 object
email_address         object
phone                 object
phone_number          object
address               object
city                  object
state                 object
zip_code              object
postal_code           object
registration_date     object
reg_date              object
status                object
customer_status       object
total_orders           int64
total_spent           object
loyalty_points         int64
preferred_payment     object
age                  float64
birth_date            object
gender                object
segment               object
dtype: object

Products dtypes:
product_id          object
item_id              int64
product_name        object
item_name           object
description         object
category            object
product_category    object
brand               object
manufacturer        object
price               object
list_price          object
cost                object
weight              object
dimensions          object
color               object
size                object
stock_quantity       int64
stock_level          int64
reorder_level        int64
supplier_id         object
created_date        object
last_updated        object
is_active           object
rating              object
dtype: object

#### Step 3:
Profiling of all three datasets. Getting crucial null counts and column overlaps. There is a visual nulls' map at the end to understand the measure and compare null count for each column visually.

In [29]:
# 3.1: Orders Table Profiling

# counting nulls
orders_nulls = orders_df.isnull().sum().to_frame("null_count")
orders_nulls["null_%"] = (orders_nulls["null_count"] / len(orders_df)) * 100
display(orders_nulls.sort_values("null_%", ascending=False))

# looking for overlaps
overlapping_cols = ["order_id", "ord_id", "customer_id", "cust_id", 
                    "product_id", "item_id", "quantity", "qty", 
                    "unit_price", "price", "total_amount", "order_total"]

for col in overlapping_cols:
    if col in orders_df.columns:
        print(f"{col}: {orders_df[col].nunique()} unique values")

                  null_count  null_%
notes                    798    79.8
tracking_number          423    42.3
order_datetime           201    20.1
status                   160    16.0
order_status             126    12.6
order_date               117    11.7
order_id                   0     0.0
product_id                 0     0.0
cust_id                    0     0.0
ord_id                     0     0.0
customer_id                0     0.0
item_id                    0     0.0
quantity                   0     0.0
qty                        0     0.0
unit_price                 0     0.0
shipping_cost              0     0.0
order_total                0     0.0
total_amount               0     0.0
price                      0     0.0
tax                        0     0.0
discount                   0     0.0
shipping_address           0     0.0
payment_method             0     0.0

order_id: 1000 unique values
ord_id: 1000 unique values
customer_id: 431 unique values
cust_id: 431 unique values
product_id: 196 unique values
item_id: 198 unique values
quantity: 10 unique values
qty: 5 unique values
unit_price: 995 unique values
price: 988 unique values
total_amount: 993 unique values
order_total: 990 unique values

In [30]:
 # 3.2: Customers Table Profiling

# counting nulls
customers_nulls = customers_df.isnull().sum().to_frame("null_count")
customers_nulls["null_%"] = (customers_nulls["null_count"] / len(customers_df)) * 100
display(customers_nulls.sort_values("null_%", ascending=False))


# looking for overlaps
overlapping_customer_cols = ["customer_id", "cust_id", 
                             "customer_name", "full_name",
                             "email", "email_address",
                             "phone", "phone_number",
                             "registration_date", "reg_date",
                             "status", "customer_status"]

for col in overlapping_customer_cols:
    if col in customers_df.columns:
        print(f"{col}: {customers_df[col].unique()}")

                   null_count  null_%
phone                     301    60.2
birth_date                295    59.0
age                       226    45.2
zip_code                  150    30.0
preferred_payment         106    21.2
segment                   105    21.0
email                      98    19.6
registration_date          98    19.6
gender                     70    14.0
customer_status            54    10.8
status                     48     9.6
email_address               0     0.0
phone_number                0     0.0
cust_id                     0     0.0
customer_name               0     0.0
customer_id                 0     0.0
full_name                   0     0.0
address                     0     0.0
city                        0     0.0
state                       0     0.0
postal_code                 0     0.0
reg_date                    0     0.0
loyalty_points              0     0.0
total_orders                0     0.0
total_spent                 0     0.0

customer_id: ['1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15' '16'
 '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29' '30'
 '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43' '44'
 '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71' '72'
 '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85' '86'
 '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99' '100'
 '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111' '112'
 '113' '114' '115' '116' '117' '118' '119' '120' '121' '122' '123' '124'
 '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135' '136'
 '137' '138' '139' '140' '141' '142' '143' '144' '145' '146' '147' '148'
 '149' '150' '151' '152' '153' '154' '155' '156' '157' '158' '159' '160'
 '161' '162' '163' '164' '165' '166' '167' '168' '169' '170' '171' '172'
 '173' '174' '175' '176' '177' '178' '179' '180' '181' '182' '183' '184'
 '185' '186' '187' '188' '189' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '200' '201' '202' '203' '204' '205' '206' '207' '208'
 '209' '210' '211' '212' '213' '214' '215' '216' '217' '218' '219' '220'
 '221' '222' '223' '224' '225' '226' '227' '228' '229' '230' '231' '232'
 '233' '234' '235' '236' '237' '238' '239' '240' '241' '242' '243' '244'
 '245' '246' '247' '248' '249' '250' '251' '252' '253' '254' '255' '256'
 '257' '258' '259' '260' '261' '262' '263' '264' '265' '266' '267' '268'
 '269' '270' '271' '272' '273' '274' '275' '276' '277' '278' '279' '280'
 '281' '282' '283' '284' '285' '286' '287' '288' '289' '290' '291' '292'
 '293' '294' '295' '296' '297' '298' '299' '300' '301' '302' '303' '304'
 '305' '306' '307' '308' '309' '310' '311' '312' '313' '314' '315' '316'
 '317' '318' '319' '320' '321' '322' '323' '324' '325' '326' '327' '328'
 '329' '330' '331' '332' '333' '334' '335' '336' '337' '338' '339' '340'
 '341' '342' '343' '344' '345' '346' '347' '348' '349' '350' '351' '352'
 '353' '354' '355' '356' '357' '358' '359' '360' '361' '362' '363' '364'
 '365' '366' '367' '368' '369' '370' '371' '372' '373' '374' '375' '376'
 '377' '378' '379' '380' '381' '382' '383' '384' '385' '386' '387' '388'
 '389' '390' '391' '392' '393' '394' '395' '396' '397' '398' '399' '400'
 '401' '402' '403' '404' '405' '406' '407' '408' '409' '410' '411' '412'
 '413' '414' '415' '416' '417' '418' '419' '420' '421' '422' '423' '424'
 '425' '426' '427' '428' '429' '430' '431' '432' '433' '434' '435' '436'
 '437' '438' '439' '440' '441' '442' '443' '444' '445' '446' '447' '448'
 '449' '450' '451' '452' '453' '454' '455' '456' '457' '458' '459' '460'
 '461' '462' '463' '464' '465' '466' '467' '468' '469' '470' '471' '472'
 '473' '474' '475' '476' '477' '478' '479' '480' '481' '482' '483' '484'
 '485' '486' '487' '488' '489' '490' '491' '492' '493' '494' '495' '496'
 '497' '498' '499' '500']
cust_id: ['CUST_0001' 'CUST_0002' 'CUST_0003' 'CUST_0004' 'CUST_0005' 'CUST_0006'
 'CUST_0007' 'CUST_0008' 'CUST_0009' 'CUST_0010' 'CUST_0011' 'CUST_0012'
 'CUST_0013' 'CUST_0014' 'CUST_0015' 'CUST_0016' 'CUST_0017' 'CUST_0018'
 'CUST_0019' 'CUST_0020' 'CUST_0021' 'CUST_0022' 'CUST_0023' 'CUST_0024'
 'CUST_0025' 'CUST_0026' 'CUST_0027' 'CUST_0028' 'CUST_0029' 'CUST_0030'
 'CUST_0031' 'CUST_0032' 'CUST_0033' 'CUST_0034' 'CUST_0035' 'CUST_0036'
 'CUST_0037' 'CUST_0038' 'CUST_0039' 'CUST_0040' 'CUST_0041' 'CUST_0042'
 'CUST_0043' 'CUST_0044' 'CUST_0045' 'CUST_0046' 'CUST_0047' 'CUST_0048'
 'CUST_0049' 'CUST_0050' 'CUST_0051' 'CUST_0052' 'CUST_0053' 'CUST_0054'
 'CUST_0055' 'CUST_0056' 'CUST_0057' 'CUST_0058' 'CUST_0059' 'CUST_0060'
 'CUST_0061' 'CUST_0062' 'CUST_0063' 'CUST_0064' 'CUST_0065' 'CUST_0066'
 'CUST_0067' 'CUST_0068' 'CUST_0069' 'CUST_0070' 'CUST_0071' 'CUST_0072'
 'CUST_0073' 'CUST_0074' 'CUST_0075' 'CUST_0076' 'CUST_0077' 'CUST_0078'
 'CUST_0079' 'CUST_0080' 'CUST_0081' 'CUST_0082' 'CUST_0083' 'CUST_0084'
 'CUST_0085' 'CUST_0086' 'CUST_0087' 'CUST_0088' 'CUST_0089' 'CUST_0090'
 'CUST_0091' 'CUST_0092' 'CUST_0093' 'CUST_0094' 'CUST_0095' 'CUST_0096'
 'CUST_0097' 'CUST_0098' 'CUST_0099' 'CUST_0100' 'CUST_0101' 'CUST_0102'
 'CUST_0103' 'CUST_0104' 'CUST_0105' 'CUST_0106' 'CUST_0107' 'CUST_0108'
 'CUST_0109' 'CUST_0110' 'CUST_0111' 'CUST_0112' 'CUST_0113' 'CUST_0114'
 'CUST_0115' 'CUST_0116' 'CUST_0117' 'CUST_0118' 'CUST_0119' 'CUST_0120'
 'CUST_0121' 'CUST_0122' 'CUST_0123' 'CUST_0124' 'CUST_0125' 'CUST_0126'
 'CUST_0127' 'CUST_0128' 'CUST_0129' 'CUST_0130' 'CUST_0131' 'CUST_0132'
 'CUST_0133' 'CUST_0134' 'CUST_0135' 'CUST_0136' 'CUST_0137' 'CUST_0138'
 'CUST_0139' 'CUST_0140' 'CUST_0141' 'CUST_0142' 'CUST_0143' 'CUST_0144'
 'CUST_0145' 'CUST_0146' 'CUST_0147' 'CUST_0148' 'CUST_0149' 'CUST_0150'
 'CUST_0151' 'CUST_0152' 'CUST_0153' 'CUST_0154' 'CUST_0155' 'CUST_0156'
 'CUST_0157' 'CUST_0158' 'CUST_0159' 'CUST_0160' 'CUST_0161' 'CUST_0162'
 'CUST_0163' 'CUST_0164' 'CUST_0165' 'CUST_0166' 'CUST_0167' 'CUST_0168'
 'CUST_0169' 'CUST_0170' 'CUST_0171' 'CUST_0172' 'CUST_0173' 'CUST_0174'
 'CUST_0175' 'CUST_0176' 'CUST_0177' 'CUST_0178' 'CUST_0179' 'CUST_0180'
 'CUST_0181' 'CUST_0182' 'CUST_0183' 'CUST_0184' 'CUST_0185' 'CUST_0186'
 'CUST_0187' 'CUST_0188' 'CUST_0189' 'CUST_0190' 'CUST_0191' 'CUST_0192'
 'CUST_0193' 'CUST_0194' 'CUST_0195' 'CUST_0196' 'CUST_0197' 'CUST_0198'
 'CUST_0199' 'CUST_0200' 'CUST_0201' 'CUST_0202' 'CUST_0203' 'CUST_0204'
 'CUST_0205' 'CUST_0206' 'CUST_0207' 'CUST_0208' 'CUST_0209' 'CUST_0210'
 'CUST_0211' 'CUST_0212' 'CUST_0213' 'CUST_0214' 'CUST_0215' 'CUST_0216'
 'CUST_0217' 'CUST_0218' 'CUST_0219' 'CUST_0220' 'CUST_0221' 'CUST_0222'
 'CUST_0223' 'CUST_0224' 'CUST_0225' 'CUST_0226' 'CUST_0227' 'CUST_0228'
 'CUST_0229' 'CUST_0230' 'CUST_0231' 'CUST_0232' 'CUST_0233' 'CUST_0234'
 'CUST_0235' 'CUST_0236' 'CUST_0237' 'CUST_0238' 'CUST_0239' 'CUST_0240'
 'CUST_0241' 'CUST_0242' 'CUST_0243' 'CUST_0244' 'CUST_0245' 'CUST_0246'
 'CUST_0247' 'CUST_0248' 'CUST_0249' 'CUST_0250' 'CUST_0251' 'CUST_0252'
 'CUST_0253' 'CUST_0254' 'CUST_0255' 'CUST_0256' 'CUST_0257' 'CUST_0258'
 'CUST_0259' 'CUST_0260' 'CUST_0261' 'CUST_0262' 'CUST_0263' 'CUST_0264'
 'CUST_0265' 'CUST_0266' 'CUST_0267' 'CUST_0268' 'CUST_0269' 'CUST_0270'
 'CUST_0271' 'CUST_0272' 'CUST_0273' 'CUST_0274' 'CUST_0275' 'CUST_0276'
 'CUST_0277' 'CUST_0278' 'CUST_0279' 'CUST_0280' 'CUST_0281' 'CUST_0282'
 'CUST_0283' 'CUST_0284' 'CUST_0285' 'CUST_0286' 'CUST_0287' 'CUST_0288'
 'CUST_0289' 'CUST_0290' 'CUST_0291' 'CUST_0292' 'CUST_0293' 'CUST_0294'
 'CUST_0295' 'CUST_0296' 'CUST_0297' 'CUST_0298' 'CUST_0299' 'CUST_0300'
 'CUST_0301' 'CUST_0302' 'CUST_0303' 'CUST_0304' 'CUST_0305' 'CUST_0306'
 'CUST_0307' 'CUST_0308' 'CUST_0309' 'CUST_0310' 'CUST_0311' 'CUST_0312'
 'CUST_0313' 'CUST_0314' 'CUST_0315' 'CUST_0316' 'CUST_0317' 'CUST_0318'
 'CUST_0319' 'CUST_0320' 'CUST_0321' 'CUST_0322' 'CUST_0323' 'CUST_0324'
 'CUST_0325' 'CUST_0326' 'CUST_0327' 'CUST_0328' 'CUST_0329' 'CUST_0330'
 'CUST_0331' 'CUST_0332' 'CUST_0333' 'CUST_0334' 'CUST_0335' 'CUST_0336'
 'CUST_0337' 'CUST_0338' 'CUST_0339' 'CUST_0340' 'CUST_0341' 'CUST_0342'
 'CUST_0343' 'CUST_0344' 'CUST_0345' 'CUST_0346' 'CUST_0347' 'CUST_0348'
 'CUST_0349' 'CUST_0350' 'CUST_0351' 'CUST_0352' 'CUST_0353' 'CUST_0354'
 'CUST_0355' 'CUST_0356' 'CUST_0357' 'CUST_0358' 'CUST_0359' 'CUST_0360'
 'CUST_0361' 'CUST_0362' 'CUST_0363' 'CUST_0364' 'CUST_0365' 'CUST_0366'
 'CUST_0367' 'CUST_0368' 'CUST_0369' 'CUST_0370' 'CUST_0371' 'CUST_0372'
 'CUST_0373' 'CUST_0374' 'CUST_0375' 'CUST_0376' 'CUST_0377' 'CUST_0378'
 'CUST_0379' 'CUST_0380' 'CUST_0381' 'CUST_0382' 'CUST_0383' 'CUST_0384'
 'CUST_0385' 'CUST_0386' 'CUST_0387' 'CUST_0388' 'CUST_0389' 'CUST_0390'
 'CUST_0391' 'CUST_0392' 'CUST_0393' 'CUST_0394' 'CUST_0395' 'CUST_0396'
 'CUST_0397' 'CUST_0398' 'CUST_0399' 'CUST_0400' 'CUST_0401' 'CUST_0402'
 'CUST_0403' 'CUST_0404' 'CUST_0405' 'CUST_0406' 'CUST_0407' 'CUST_0408'
 'CUST_0409' 'CUST_0410' 'CUST_0411' 'CUST_0412' 'CUST_0413' 'CUST_0414'
 'CUST_0415' 'CUST_0416' 'CUST_0417' 'CUST_0418' 'CUST_0419' 'CUST_0420'
 'CUST_0421' 'CUST_0422' 'CUST_0423' 'CUST_0424' 'CUST_0425' 'CUST_0426'
 'CUST_0427' 'CUST_0428' 'CUST_0429' 'CUST_0430' 'CUST_0431' 'CUST_0432'
 'CUST_0433' 'CUST_0434' 'CUST_0435' 'CUST_0436' 'CUST_0437' 'CUST_0438'
 'CUST_0439' 'CUST_0440' 'CUST_0441' 'CUST_0442' 'CUST_0443' 'CUST_0444'
 'CUST_0445' 'CUST_0446' 'CUST_0447' 'CUST_0448' 'CUST_0449' 'CUST_0450'
 'CUST_0451' 'CUST_0452' 'CUST_0453' 'CUST_0454' 'CUST_0455' 'CUST_0456'
 'CUST_0457' 'CUST_0458' 'CUST_0459' 'CUST_0460' 'CUST_0461' 'CUST_0462'
 'CUST_0463' 'CUST_0464' 'CUST_0465' 'CUST_0466' 'CUST_0467' 'CUST_0468'
 'CUST_0469' 'CUST_0470' 'CUST_0471' 'CUST_0472' 'CUST_0473' 'CUST_0474'
 'CUST_0475' 'CUST_0476' 'CUST_0477' 'CUST_0478' 'CUST_0479' 'CUST_0480'
 'CUST_0481' 'CUST_0482' 'CUST_0483' 'CUST_0484' 'CUST_0485' 'CUST_0486'
 'CUST_0487' 'CUST_0488' 'CUST_0489' 'CUST_0490' 'CUST_0491' 'CUST_0492'
 'CUST_0493' 'CUST_0494' 'CUST_0495' 'CUST_0496' 'CUST_0497' 'CUST_0498'
 'CUST_0499' 'CUST_0500']
customer_name: ['Grace Lee' 'Bob Wilson' 'John Smith' 'henry.davis123' 'diana.prince'
 'frank-miller' 'Charlie Brown' 'jane_doe' 'EVE WHITE'
 'alice.johnson@email.com']
full_name: ['Charlie Brown' 'Bob Wilson' 'diana.prince' 'alice.johnson@email.com'
 'jane_doe' 'Grace Lee' 'henry.davis123' 'John Smith' 'frank-miller'
 'EVE WHITE']
email: ['customer1@example.com' None 'customer3@example.com'
 'customer5@example.com' 'customer6@example.com' 'customer7@example.com'
 'customer8@example.com' 'customer9@example.com' 'customer11@example.com'
 'customer12@example.com' 'customer13@example.com'
 'customer14@example.com' 'customer15@example.com'
 'customer16@example.com' 'customer17@example.com'
 'customer19@example.com' 'customer20@example.com'
 'customer22@example.com' 'customer23@example.com'
 'customer24@example.com' 'customer25@example.com'
 'customer26@example.com' 'customer27@example.com'
 'customer30@example.com' 'customer31@example.com'
 'customer32@example.com' 'customer33@example.com'
 'customer34@example.com' 'customer35@example.com'
 'customer36@example.com' 'customer37@example.com'
 'customer38@example.com' 'customer39@example.com'
 'customer40@example.com' 'customer41@example.com'
 'customer42@example.com' 'customer43@example.com'
 'customer44@example.com' 'customer46@example.com'
 'customer47@example.com' 'customer48@example.com'
 'customer49@example.com' 'customer50@example.com'
 'customer52@example.com' 'customer53@example.com'
 'customer54@example.com' 'customer56@example.com'
 'customer57@example.com' 'customer58@example.com'
 'customer59@example.com' 'customer60@example.com'
 'customer61@example.com' 'customer62@example.com'
 'customer64@example.com' 'customer65@example.com'
 'customer67@example.com' 'customer69@example.com'
 'customer71@example.com' 'customer72@example.com'
 'customer73@example.com' 'customer75@example.com'
 'customer76@example.com' 'customer77@example.com'
 'customer78@example.com' 'customer79@example.com'
 'customer80@example.com' 'customer81@example.com'
 'customer82@example.com' 'customer83@example.com'
 'customer85@example.com' 'customer86@example.com'
 'customer87@example.com' 'customer88@example.com'
 'customer90@example.com' 'customer91@example.com'
 'customer92@example.com' 'customer93@example.com'
 'customer94@example.com' 'customer95@example.com'
 'customer96@example.com' 'customer97@example.com'
 'customer98@example.com' 'customer99@example.com'
 'customer101@example.com' 'customer102@example.com'
 'customer103@example.com' 'customer105@example.com'
 'customer106@example.com' 'customer107@example.com'
 'customer108@example.com' 'customer109@example.com'
 'customer110@example.com' 'customer111@example.com'
 'customer112@example.com' 'customer113@example.com'
 'customer114@example.com' 'customer116@example.com'
 'customer118@example.com' 'customer119@example.com'
 'customer120@example.com' 'customer121@example.com'
 'customer122@example.com' 'customer124@example.com'
 'customer125@example.com' 'customer131@example.com'
 'customer133@example.com' 'customer134@example.com'
 'customer135@example.com' 'customer136@example.com'
 'customer137@example.com' 'customer138@example.com'
 'customer139@example.com' 'customer140@example.com'
 'customer141@example.com' 'customer142@example.com'
 'customer143@example.com' 'customer144@example.com'
 'customer146@example.com' 'customer147@example.com'
 'customer148@example.com' 'customer149@example.com'
 'customer150@example.com' 'customer151@example.com'
 'customer152@example.com' 'customer153@example.com'
 'customer154@example.com' 'customer155@example.com'
 'customer156@example.com' 'customer157@example.com'
 'customer158@example.com' 'customer159@example.com'
 'customer160@example.com' 'customer162@example.com'
 'customer163@example.com' 'customer165@example.com'
 'customer166@example.com' 'customer167@example.com'
 'customer168@example.com' 'customer169@example.com'
 'customer170@example.com' 'customer171@example.com'
 'customer172@example.com' 'customer175@example.com'
 'customer179@example.com' 'customer180@example.com'
 'customer181@example.com' 'customer182@example.com'
 'customer183@example.com' 'customer184@example.com'
 'customer185@example.com' 'customer186@example.com'
 'customer187@example.com' 'customer188@example.com'
 'customer190@example.com' 'customer191@example.com'
 'customer192@example.com' 'customer193@example.com'
 'customer194@example.com' 'customer195@example.com'
 'customer196@example.com' 'customer197@example.com'
 'customer198@example.com' 'customer199@example.com'
 'customer200@example.com' 'customer202@example.com'
 'customer203@example.com' 'customer205@example.com'
 'customer207@example.com' 'customer208@example.com'
 'customer210@example.com' 'customer211@example.com'
 'customer212@example.com' 'customer213@example.com'
 'customer215@example.com' 'customer216@example.com'
 'customer217@example.com' 'customer219@example.com'
 'customer220@example.com' 'customer221@example.com'
 'customer222@example.com' 'customer225@example.com'
 'customer226@example.com' 'customer227@example.com'
 'customer228@example.com' 'customer230@example.com'
 'customer231@example.com' 'customer232@example.com'
 'customer233@example.com' 'customer234@example.com'
 'customer235@example.com' 'customer236@example.com'
 'customer237@example.com' 'customer238@example.com'
 'customer239@example.com' 'customer240@example.com'
 'customer242@example.com' 'customer243@example.com'
 'customer244@example.com' 'customer245@example.com'
 'customer248@example.com' 'customer249@example.com'
 'customer250@example.com' 'customer251@example.com'
 'customer252@example.com' 'customer253@example.com'
 'customer254@example.com' 'customer257@example.com'
 'customer259@example.com' 'customer261@example.com'
 'customer263@example.com' 'customer264@example.com'
 'customer265@example.com' 'customer266@example.com'
 'customer267@example.com' 'customer268@example.com'
 'customer270@example.com' 'customer271@example.com'
 'customer273@example.com' 'customer274@example.com'
 'customer275@example.com' 'customer276@example.com'
 'customer277@example.com' 'customer278@example.com'
 'customer279@example.com' 'customer280@example.com'
 'customer282@example.com' 'customer283@example.com'
 'customer284@example.com' 'customer285@example.com'
 'customer286@example.com' 'customer288@example.com'
 'customer289@example.com' 'customer290@example.com'
 'customer291@example.com' 'customer293@example.com'
 'customer294@example.com' 'customer295@example.com'
 'customer296@example.com' 'customer297@example.com'
 'customer299@example.com' 'customer300@example.com'
 'customer301@example.com' 'customer302@example.com'
 'customer303@example.com' 'customer304@example.com'
 'customer305@example.com' 'customer306@example.com'
 'customer307@example.com' 'customer309@example.com'
 'customer310@example.com' 'customer311@example.com'
 'customer313@example.com' 'customer314@example.com'
 'customer315@example.com' 'customer316@example.com'
 'customer317@example.com' 'customer318@example.com'
 'customer320@example.com' 'customer321@example.com'
 'customer323@example.com' 'customer324@example.com'
 'customer325@example.com' 'customer326@example.com'
 'customer327@example.com' 'customer328@example.com'
 'customer330@example.com' 'customer331@example.com'
 'customer333@example.com' 'customer334@example.com'
 'customer335@example.com' 'customer336@example.com'
 'customer337@example.com' 'customer338@example.com'
 'customer340@example.com' 'customer342@example.com'
 'customer343@example.com' 'customer344@example.com'
 'customer346@example.com' 'customer347@example.com'
 'customer348@example.com' 'customer349@example.com'
 'customer350@example.com' 'customer352@example.com'
 'customer353@example.com' 'customer354@example.com'
 'customer355@example.com' 'customer356@example.com'
 'customer358@example.com' 'customer359@example.com'
 'customer360@example.com' 'customer362@example.com'
 'customer363@example.com' 'customer364@example.com'
 'customer365@example.com' 'customer366@example.com'
 'customer367@example.com' 'customer368@example.com'
 'customer369@example.com' 'customer370@example.com'
 'customer371@example.com' 'customer372@example.com'
 'customer373@example.com' 'customer374@example.com'
 'customer375@example.com' 'customer378@example.com'
 'customer379@example.com' 'customer380@example.com'
 'customer381@example.com' 'customer382@example.com'
 'customer383@example.com' 'customer385@example.com'
 'customer386@example.com' 'customer387@example.com'
 'customer388@example.com' 'customer389@example.com'
 'customer390@example.com' 'customer393@example.com'
 'customer394@example.com' 'customer395@example.com'
 'customer396@example.com' 'customer397@example.com'
 'customer398@example.com' 'customer399@example.com'
 'customer400@example.com' 'customer401@example.com'
 'customer402@example.com' 'customer403@example.com'
 'customer404@example.com' 'customer405@example.com'
 'customer408@example.com' 'customer409@example.com'
 'customer410@example.com' 'customer411@example.com'
 'customer412@example.com' 'customer413@example.com'
 'customer414@example.com' 'customer415@example.com'
 'customer416@example.com' 'customer417@example.com'
 'customer418@example.com' 'customer419@example.com'
 'customer420@example.com' 'customer422@example.com'
 'customer423@example.com' 'customer424@example.com'
 'customer425@example.com' 'customer426@example.com'
 'customer427@example.com' 'customer430@example.com'
 'customer431@example.com' 'customer432@example.com'
 'customer433@example.com' 'customer434@example.com'
 'customer435@example.com' 'customer436@example.com'
 'customer437@example.com' 'customer438@example.com'
 'customer439@example.com' 'customer440@example.com'
 'customer442@example.com' 'customer443@example.com'
 'customer444@example.com' 'customer445@example.com'
 'customer447@example.com' 'customer450@example.com'
 'customer451@example.com' 'customer452@example.com'
 'customer453@example.com' 'customer454@example.com'
 'customer455@example.com' 'customer456@example.com'
 'customer458@example.com' 'customer459@example.com'
 'customer462@example.com' 'customer463@example.com'
 'customer464@example.com' 'customer465@example.com'
 'customer468@example.com' 'customer469@example.com'
 'customer471@example.com' 'customer472@example.com'
 'customer473@example.com' 'customer474@example.com'
 'customer475@example.com' 'customer476@example.com'
 'customer477@example.com' 'customer478@example.com'
 'customer479@example.com' 'customer480@example.com'
 'customer481@example.com' 'customer482@example.com'
 'customer483@example.com' 'customer484@example.com'
 'customer485@example.com' 'customer487@example.com'
 'customer488@example.com' 'customer490@example.com'
 'customer493@example.com' 'customer494@example.com'
 'customer495@example.com' 'customer496@example.com'
 'customer497@example.com' 'customer498@example.com']

In [31]:
# 3.3: Products Table Profiling

# counting nulls
products_nulls = products_df.isnull().sum().to_frame("null_count")
products_nulls["null_%"] = (products_nulls["null_count"] / len(products_df)) * 100
display(products_nulls.sort_values("null_%", ascending=False))

# looking for overlaps
overlapping_product_cols = ["product_id", "item_id", 
                            "product_name", "item_name",
                            "category", "product_category",
                            "brand", "manufacturer",
                            "price", "list_price", "cost",
                            "stock_quantity", "stock_level"]

for col in overlapping_product_cols:
    if col in products_df.columns:
        print(f"{col}: {products_df[col].unique()}")

                  null_count  null_%
weight                    74    37.0
rating                    68    34.0
supplier_id               61    30.5
description               57    28.5
created_date              35    17.5
size                      33    16.5
manufacturer              31    15.5
brand                     30    15.0
color                     21    10.5
category                   0     0.0
product_category           0     0.0
item_name                  0     0.0
item_id                    0     0.0
product_id                 0     0.0
product_name               0     0.0
cost                       0     0.0
dimensions                 0     0.0
price                      0     0.0
list_price                 0     0.0
stock_quantity             0     0.0
reorder_level              0     0.0
stock_level                0     0.0
last_updated               0     0.0
is_active                  0     0.0

product_id: ['PROD_001' 'PROD_002' 'PROD_003' 'PROD_004' 'PROD_005' 'PROD_006'
 'PROD_007' 'PROD_008' 'PROD_009' 'PROD_010' 'PROD_011' 'PROD_012'
 'PROD_013' 'PROD_014' 'PROD_015' 'PROD_016' 'PROD_017' 'PROD_018'
 'PROD_019' 'PROD_020' 'PROD_021' 'PROD_022' 'PROD_023' 'PROD_024'
 'PROD_025' 'PROD_026' 'PROD_027' 'PROD_028' 'PROD_029' 'PROD_030'
 'PROD_031' 'PROD_032' 'PROD_033' 'PROD_034' 'PROD_035' 'PROD_036'
 'PROD_037' 'PROD_038' 'PROD_039' 'PROD_040' 'PROD_041' 'PROD_042'
 'PROD_043' 'PROD_044' 'PROD_045' 'PROD_046' 'PROD_047' 'PROD_048'
 'PROD_049' 'PROD_050' 'PROD_051' 'PROD_052' 'PROD_053' 'PROD_054'
 'PROD_055' 'PROD_056' 'PROD_057' 'PROD_058' 'PROD_059' 'PROD_060'
 'PROD_061' 'PROD_062' 'PROD_063' 'PROD_064' 'PROD_065' 'PROD_066'
 'PROD_067' 'PROD_068' 'PROD_069' 'PROD_070' 'PROD_071' 'PROD_072'
 'PROD_073' 'PROD_074' 'PROD_075' 'PROD_076' 'PROD_077' 'PROD_078'
 'PROD_079' 'PROD_080' 'PROD_081' 'PROD_082' 'PROD_083' 'PROD_084'
 'PROD_085' 'PROD_086' 'PROD_087' 'PROD_088' 'PROD_089' 'PROD_090'
 'PROD_091' 'PROD_092' 'PROD_093' 'PROD_094' 'PROD_095' 'PROD_096'
 'PROD_097' 'PROD_098' 'PROD_099' 'PROD_100' 'PROD_101' 'PROD_102'
 'PROD_103' 'PROD_104' 'PROD_105' 'PROD_106' 'PROD_107' 'PROD_108'
 'PROD_109' 'PROD_110' 'PROD_111' 'PROD_112' 'PROD_113' 'PROD_114'
 'PROD_115' 'PROD_116' 'PROD_117' 'PROD_118' 'PROD_119' 'PROD_120'
 'PROD_121' 'PROD_122' 'PROD_123' 'PROD_124' 'PROD_125' 'PROD_126'
 'PROD_127' 'PROD_128' 'PROD_129' 'PROD_130' 'PROD_131' 'PROD_132'
 'PROD_133' 'PROD_134' 'PROD_135' 'PROD_136' 'PROD_137' 'PROD_138'
 'PROD_139' 'PROD_140' 'PROD_141' 'PROD_142' 'PROD_143' 'PROD_144'
 'PROD_145' 'PROD_146' 'PROD_147' 'PROD_148' 'PROD_149' 'PROD_150'
 'PROD_151' 'PROD_152' 'PROD_153' 'PROD_154' 'PROD_155' 'PROD_156'
 'PROD_157' 'PROD_158' 'PROD_159' 'PROD_160' 'PROD_161' 'PROD_162'
 'PROD_163' 'PROD_164' 'PROD_165' 'PROD_166' 'PROD_167' 'PROD_168'
 'PROD_169' 'PROD_170' 'PROD_171' 'PROD_172' 'PROD_173' 'PROD_174'
 'PROD_175' 'PROD_176' 'PROD_177' 'PROD_178' 'PROD_179' 'PROD_180'
 'PROD_181' 'PROD_182' 'PROD_183' 'PROD_184' 'PROD_185' 'PROD_186'
 'PROD_187' 'PROD_188' 'PROD_189' 'PROD_190' 'PROD_191' 'PROD_192'
 'PROD_193' 'PROD_194' 'PROD_195' 'PROD_196' 'PROD_197' 'PROD_198'
 'PROD_199' 'PROD_200']
item_id: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200]
product_name: ['Product 1' 'Product 2' 'Product 3' 'Product 4' 'Product 5' 'Product 6'
 'Product 7' 'Product 8' 'Product 9' 'Product 10' 'Product 11'
 'Product 12' 'Product 13' 'Product 14' 'Product 15' 'Product 16'
 'Product 17' 'Product 18' 'Product 19' 'Product 20' 'Product 21'
 'Product 22' 'Product 23' 'Product 24' 'Product 25' 'Product 26'
 'Product 27' 'Product 28' 'Product 29' 'Product 30' 'Product 31'
 'Product 32' 'Product 33' 'Product 34' 'Product 35' 'Product 36'
 'Product 37' 'Product 38' 'Product 39' 'Product 40' 'Product 41'
 'Product 42' 'Product 43' 'Product 44' 'Product 45' 'Product 46'
 'Product 47' 'Product 48' 'Product 49' 'Product 50' 'Product 51'
 'Product 52' 'Product 53' 'Product 54' 'Product 55' 'Product 56'
 'Product 57' 'Product 58' 'Product 59' 'Product 60' 'Product 61'
 'Product 62' 'Product 63' 'Product 64' 'Product 65' 'Product 66'
 'Product 67' 'Product 68' 'Product 69' 'Product 70' 'Product 71'
 'Product 72' 'Product 73' 'Product 74' 'Product 75' 'Product 76'
 'Product 77' 'Product 78' 'Product 79' 'Product 80' 'Product 81'
 'Product 82' 'Product 83' 'Product 84' 'Product 85' 'Product 86'
 'Product 87' 'Product 88' 'Product 89' 'Product 90' 'Product 91'
 'Product 92' 'Product 93' 'Product 94' 'Product 95' 'Product 96'
 'Product 97' 'Product 98' 'Product 99' 'Product 100' 'Product 101'
 'Product 102' 'Product 103' 'Product 104' 'Product 105' 'Product 106'
 'Product 107' 'Product 108' 'Product 109' 'Product 110' 'Product 111'
 'Product 112' 'Product 113' 'Product 114' 'Product 115' 'Product 116'
 'Product 117' 'Product 118' 'Product 119' 'Product 120' 'Product 121'
 'Product 122' 'Product 123' 'Product 124' 'Product 125' 'Product 126'
 'Product 127' 'Product 128' 'Product 129' 'Product 130' 'Product 131'
 'Product 132' 'Product 133' 'Product 134' 'Product 135' 'Product 136'
 'Product 137' 'Product 138' 'Product 139' 'Product 140' 'Product 141'
 'Product 142' 'Product 143' 'Product 144' 'Product 145' 'Product 146'
 'Product 147' 'Product 148' 'Product 149' 'Product 150' 'Product 151'
 'Product 152' 'Product 153' 'Product 154' 'Product 155' 'Product 156'
 'Product 157' 'Product 158' 'Product 159' 'Product 160' 'Product 161'
 'Product 162' 'Product 163' 'Product 164' 'Product 165' 'Product 166'
 'Product 167' 'Product 168' 'Product 169' 'Product 170' 'Product 171'
 'Product 172' 'Product 173' 'Product 174' 'Product 175' 'Product 176'
 'Product 177' 'Product 178' 'Product 179' 'Product 180' 'Product 181'
 'Product 182' 'Product 183' 'Product 184' 'Product 185' 'Product 186'
 'Product 187' 'Product 188' 'Product 189' 'Product 190' 'Product 191'
 'Product 192' 'Product 193' 'Product 194' 'Product 195' 'Product 196'
 'Product 197' 'Product 198' 'Product 199' 'Product 200']
item_name: ['Item 1 Name' 'Item 2 Name' 'Item 3 Name' 'Item 4 Name' 'Item 5 Name'
 'Item 6 Name' 'Item 7 Name' 'Item 8 Name' 'Item 9 Name' 'Item 10 Name'
 'Item 11 Name' 'Item 12 Name' 'Item 13 Name' 'Item 14 Name'
 'Item 15 Name' 'Item 16 Name' 'Item 17 Name' 'Item 18 Name'
 'Item 19 Name' 'Item 20 Name' 'Item 21 Name' 'Item 22 Name'
 'Item 23 Name' 'Item 24 Name' 'Item 25 Name' 'Item 26 Name'
 'Item 27 Name' 'Item 28 Name' 'Item 29 Name' 'Item 30 Name'
 'Item 31 Name' 'Item 32 Name' 'Item 33 Name' 'Item 34 Name'
 'Item 35 Name' 'Item 36 Name' 'Item 37 Name' 'Item 38 Name'
 'Item 39 Name' 'Item 40 Name' 'Item 41 Name' 'Item 42 Name'
 'Item 43 Name' 'Item 44 Name' 'Item 45 Name' 'Item 46 Name'
 'Item 47 Name' 'Item 48 Name' 'Item 49 Name' 'Item 50 Name'
 'Item 51 Name' 'Item 52 Name' 'Item 53 Name' 'Item 54 Name'
 'Item 55 Name' 'Item 56 Name' 'Item 57 Name' 'Item 58 Name'
 'Item 59 Name' 'Item 60 Name' 'Item 61 Name' 'Item 62 Name'
 'Item 63 Name' 'Item 64 Name' 'Item 65 Name' 'Item 66 Name'
 'Item 67 Name' 'Item 68 Name' 'Item 69 Name' 'Item 70 Name'
 'Item 71 Name' 'Item 72 Name' 'Item 73 Name' 'Item 74 Name'
 'Item 75 Name' 'Item 76 Name' 'Item 77 Name' 'Item 78 Name'
 'Item 79 Name' 'Item 80 Name' 'Item 81 Name' 'Item 82 Name'
 'Item 83 Name' 'Item 84 Name' 'Item 85 Name' 'Item 86 Name'
 'Item 87 Name' 'Item 88 Name' 'Item 89 Name' 'Item 90 Name'
 'Item 91 Name' 'Item 92 Name' 'Item 93 Name' 'Item 94 Name'
 'Item 95 Name' 'Item 96 Name' 'Item 97 Name' 'Item 98 Name'
 'Item 99 Name' 'Item 100 Name' 'Item 101 Name' 'Item 102 Name'
 'Item 103 Name' 'Item 104 Name' 'Item 105 Name' 'Item 106 Name'
 'Item 107 Name' 'Item 108 Name' 'Item 109 Name' 'Item 110 Name'
 'Item 111 Name' 'Item 112 Name' 'Item 113 Name' 'Item 114 Name'
 'Item 115 Name' 'Item 116 Name' 'Item 117 Name' 'Item 118 Name'
 'Item 119 Name' 'Item 120 Name' 'Item 121 Name' 'Item 122 Name'
 'Item 123 Name' 'Item 124 Name' 'Item 125 Name' 'Item 126 Name'
 'Item 127 Name' 'Item 128 Name' 'Item 129 Name' 'Item 130 Name'
 'Item 131 Name' 'Item 132 Name' 'Item 133 Name' 'Item 134 Name'
 'Item 135 Name' 'Item 136 Name' 'Item 137 Name' 'Item 138 Name'
 'Item 139 Name' 'Item 140 Name' 'Item 141 Name' 'Item 142 Name'
 'Item 143 Name' 'Item 144 Name' 'Item 145 Name' 'Item 146 Name'
 'Item 147 Name' 'Item 148 Name' 'Item 149 Name' 'Item 150 Name'
 'Item 151 Name' 'Item 152 Name' 'Item 153 Name' 'Item 154 Name'
 'Item 155 Name' 'Item 156 Name' 'Item 157 Name' 'Item 158 Name'
 'Item 159 Name' 'Item 160 Name' 'Item 161 Name' 'Item 162 Name'
 'Item 163 Name' 'Item 164 Name' 'Item 165 Name' 'Item 166 Name'
 'Item 167 Name' 'Item 168 Name' 'Item 169 Name' 'Item 170 Name'
 'Item 171 Name' 'Item 172 Name' 'Item 173 Name' 'Item 174 Name'
 'Item 175 Name' 'Item 176 Name' 'Item 177 Name' 'Item 178 Name'
 'Item 179 Name' 'Item 180 Name' 'Item 181 Name' 'Item 182 Name'
 'Item 183 Name' 'Item 184 Name' 'Item 185 Name' 'Item 186 Name'
 'Item 187 Name' 'Item 188 Name' 'Item 189 Name' 'Item 190 Name'
 'Item 191 Name' 'Item 192 Name' 'Item 193 Name' 'Item 194 Name'
 'Item 195 Name' 'Item 196 Name' 'Item 197 Name' 'Item 198 Name'
 'Item 199 Name' 'Item 200 Name']
category: ['clothing' 'Home & Garden' 'CLOTHING' 'Sports' 'Electronics' 'Books'
 'Toys' 'electronics']
product_category: ['clothing' 'Electronics' 'Toys' 'electronics' 'Books' 'CLOTHING' 'Sports'
 'Home & Garden']
brand: ['BRAND-C' 'BrandA' 'brand_b' 'brandE' 'Brand D' None '']
manufacturer: ['BrandA' 'brand_b' 'Brand D' 'brandE' '' None 'BRAND-C']
price: ['102.18' '259.94' '200.05' '254.98' '237.76' '474.83' '500.40' '126.64'
 '415.50' '244.02' '90.24' '462.16' '312.64' '182.77' '386.25' '416.22'
 '328.23' '239.40' '89.93' '259.03' '115.47' '359.49' '359.37' '97.45'
 '274.37' '140.12' '503.13' '63.20' '272.85' '389.37' '76.12' '431.21'
 '338.43' '258.18' '47.46' '309.55' '437.53' '240.91' '154.42' '105.61'
 '81.22' '252.27' '239.12' '488.13' '238.69' '112.79' '362.77' '358.67'
 '471.58' '381.05' '40.61' '124.32' '209.98' '307.20' '369.62' '18.27'
 '239.62' '176.85' '219.47' '323.44' '389.23' '449.51' '243.93' '164.99'
 '112.87' '133.03' '405.39' '504.46' '111.83' '47.15' '145.66' '59.24'
 '78.94' '61.37' '333.29' '28.92' '396.52' '472.07' '113.13' '294.70'
 '279.93' '352.10' '235.47' '491.31' '137.40' '423.86' '237.48' '393.56'
 '122.77' '371.21' '99.43' '21.94' '483.26' '386.85' '328.48' '43.32'
 '122.39' '105.56' '376.34' '463.83' '129.88' '108.31' '13.01' '65.24'
 '131.66' '423.94' '449.71' '387.18' '439.69' '384.40' '215.51' '275.23'
 '129.35' '421.75' '53.26' '308.74' '210.64' '384.58' '435.83' '143.44'
 '507.86' '191.94' '482.68' '210.38' '457.71' '396.02' '364.35' '165.64'
 '282.00' '72.56' '468.91' '32.49' '104.82' '406.90' '119.19' '212.66'
 '387.50' '101.69' '63.53' '274.71' '127.63' '198.98' '406.38' '241.19'
 '195.81' '228.72' '450.00' '223.70' '478.68' '494.06' '368.05' '103.20'
 '54.98' '456.84' '222.21' '466.00' '148.37' '256.55' '160.24' '218.24'
 '168.59' '397.94' '308.91' '466.02' '221.44' '305.38' '135.69' '393.89'
 '401.75' '161.39' '455.22' '396.48' '352.46' '165.12' '366.15' '344.76'
 '245.26' '429.40' '394.46' '429.42' '466.58' '463.17' '139.77' '468.83'
 '167.85' '65.62' '266.29' '336.27' '437.64' '343.51' '479.26' '223.13'
 '421.55' '402.21' '343.52' '275.55' '174.55' '426.14' '493.51' '432.77']
list_price: ['137.49' '477.86' '54.34' '212.41' '522.40' '485.04' '483.00' '429.21'
 '46.78' '508.13' '501.90' '226.67' '400.00' '427.59' '387.72' '183.36'
 '63.85' '220.51' '263.48' '500.48' '195.02' '452.91' '101.79' '318.79'
 '235.78' '333.07' '208.69' '574.89' '334.78' '153.22' '149.32' '152.32'
 '468.70' '139.03' '375.88' '353.88' '291.75' '563.72' '23.31' '41.34'
 '535.14' '436.69' '348.74' '461.91' '306.30' '284.87' '177.32' '295.86'
 '265.18' '200.89' '584.36' '308.78' '333.28' '325.57' '595.12' '445.22'
 '374.12' '388.62' '572.16' '197.08' '531.24' '450.04' '526.46' '334.93'
 '359.37' '259.00' '111.89' '580.18' '65.15' '36.11' '276.65' '423.91'
 '421.12' '331.47' '583.36' '525.58' '116.16' '192.08' '53.08' '442.00'
 '354.17' '553.91' '253.26' '60.69' '24.30' '177.00' '517.87' '227.77'
 '424.85' '341.45' '602.10' '380.62' '261.60' '583.39' '98.66' '144.89'
 '602.18' '496.48' '325.88' '89.42' '406.49' '200.34' '299.09' '585.11'
 '541.91' '544.45' '23.48' '198.19' '591.73' '575.95' '172.04' '256.52'
 '499.03' '56.91' '54.48' '121.45' '506.76' '376.07' '60.42' '253.66'
 '321.97' '545.38' '446.92' '151.46' '454.12' '607.69' '89.66' '302.76'
 '175.30' '254.66' '386.90' '177.75' '364.87' '431.51' '89.12' '49.08'
 '204.58' '227.94' '116.66' '486.20' '232.22' '296.20' '590.16' '293.79'
 '288.37' '343.61' '469.47' '401.05' '32.04' '243.82' '323.43' '258.19'
 '107.14' '479.82' '331.57' '384.93' '471.91' '277.60' '455.44' '472.83'
 '489.11' '450.26' '507.89' '284.84' '214.76' '349.35' '114.62' '105.99'
 '291.08' '422.31' '516.41' '220.22' '383.26' '524.28' '417.77' '602.75'
 '232.04' '42.73' '377.51' '340.84' '123.38' '61.45' '302.98' '604.30'
 '221.66' '254.47' '139.36' '130.60' '96.42' '171.71' '421.11' '342.35'
 '295.18' '339.15' '362.97' '309.75' '177.11' '180.02' '480.00' '22.78']
cost: ['291.16' '76.76' '35.90' '18.30' '229.75' '202.39' '211.66' '159.48'
 '175.80' '136.28' '83.87' '18.71' '36.99' '278.90' '127.93' '23.31'
 '181.97' '138.05' '123.62' '85.23' '118.00' '169.54' '170.56' '188.56'
 '198.86' '125.01' '141.80' '130.52' '276.73' '152.48' '258.09' '166.28'
 '257.54' '252.81' '183.98' '192.56' '69.62' '295.06' '249.32' '126.73'
 '126.48' '115.52' '64.33' '197.63' '259.91' '97.91' '143.26' '96.81'
 '133.33' '233.34' '177.14' '187.92' '156.00' '171.43' '257.41' '157.83'
 '230.49' '293.50' '246.22' '81.76' '184.67' '107.41' '276.87' '203.64'
 '105.42' '113.67' '253.49' '272.87' '98.14' '160.20' '261.83' '246.65'
 '110.35' '58.79' '100.85' '54.38' '70.29' '46.33' '105.37' '209.07'
 '264.01' '152.42' '286.05' '169.27' '117.60' '162.52' '30.98' '60.15'
 '244.36' '183.15' '88.75' '254.88' '184.30' '223.85' '100.49' '70.12'
 '17.61' '196.21' '92.33' '290.80' '276.23' '112.91' '45.25' '146.54'
 '24.93' '302.65' '233.48' '213.51' '13.50' '195.88' '174.70' '42.81'
 '61.84' '183.19' '10.91' '166.84' '173.53' '227.95' '243.27' '33.57'
 '126.24' '84.05' '285.75' '114.30' '23.19' '289.47' '268.19' '269.10'
 '103.06' '31.28' '230.76' '128.26' '36.09' '12.41' '235.12' '54.77'
 '12.14' '144.73' '105.40' '293.33' '192.53' '202.37' '255.59' '228.67'
 '125.03' '198.49' '48.12' '218.44' '19.86' '128.65' '248.66' '43.48'
 '298.96' '156.02' '34.36' '72.79' '20.14' '74.16' '100.73' '103.78'
 '119.90' '212.95' '23.07' '59.05' '9.15' '125.45' '200.69' '225.00'
 '42.40' '294.18' '54.35' '292.52' '300.54' '220.82' '199.33' '190.19'
 '273.33' '61.05' '217.77' '59.07' '35.09' '107.56' '164.77' '43.64'
 '92.53' '248.10' '11.51' '69.19' '134.53' '190.14' '186.40' '59.10'
 '295.75' '220.25' '60.06' '156.39' '147.55' '223.04']
stock_quantity: [538 859 815 278 463 180 531 702 993 136 885 901 668 389 907 772 821 930
  63 982 567 931 133 986 521 172 248 116 286 938 876 464 771 236 322 711
   9  50 777 983 479 518 707 672 523 785 189 493 400 839 948 647 255 261
 131 150 115  69 230 382 190 371 409 370 273 664 844 834 294 770 541 736
 466  80 780 309 257 635   6  17 560 764 558 448 715 263 728 894 434 600
  27 887 648 270 616 375  49 562 659 497 511 376 734 452 126  10 613 767
 578 297 928 431 765 779 221 762  45 223  88 379 955 415 414 423 347 111
 243 173 135 718 413 632  87 924 503 733 914 722 498 401  12 182 372 848
 516 253 904 662 210 811 505 712 549 855 250 450 504   3 564 732 439 301
  72 959 866 213 853 874 619 318 581 869 329 438  28 971]
stock_level: [282  33 251 429 249 191 134 152 197  76 484  92 187 273   6 230 299 490
  11 168 436 432  56  89 211  44  59 203 472 248 409 430 122 403 428 106
 314 467 262 425  51  48 355  23  25 498 387 390  78 200 166  34 336  28
 357 465 360 246 148 477  57  77 395  82 136 298 405 153 414 169 296 206
 101 445 141  54 346  66  30 268  19  29 435 102 441 426 379 225 398 381
  13 333 120 254 442 413  24 307 109 149 111 274 183 494 475 222 317 192
 309 131 179 190 213 237 145  47 178  21 350 279  42 233 154 327 239 335
 272 401 194  79 195 172 402  27  91 411  32 267 358 311 400 446 361 480
 118 119 416 369 127 356 463 257 259 444 193 202 165 212 431 143 306   3]

In [ ]:
# Visual null map  
import missingno as msno
msno.matrix(orders_df)
msno.matrix(customers_df)
msno.matrix(products_df)

## üîç Data Quality Summary (Draft)

Each dataset exhibits redundancy and inconsistency across multiple columns. Below are the initial findings:

### Orders Dataset
- Duplicate IDs: `order_id`, `ord_id`
- Product & customer ID fields duplicated
- Quantity & price split across aliases
- Mixed null representations and stringified numerics

### Customers Dataset
- Conflicting names, emails, registration dates
- Multiple null representations in phone and age fields
- `status` varies in casing and completeness

### Products Dataset
- Field duplication (`product_name`, `item_name`; `brand`, `manufacturer`)
- Prices and costs as strings
- `is_active` field as a string instead of boolean
- Conflicts in inventory fields (`stock_quantity`, `stock_level`)

These will be consolidated in the cleaning phase.

#### Step 4:

Relationship Mapping

In [35]:
# 4.1 Identify Primary Keys

# Orders
print("Unique order_id:", orders_df['order_id'].nunique())
print("Total rows:", len(orders_df))

# Customers
print("Unique customer_id:", customers_df['customer_id'].nunique())

# Products
print("Unique product_id:", products_df['product_id'].nunique())

Unique order_id: 1000
Total rows: 1000
Unique customer_id: 500
Unique product_id: 200

In [34]:
# 4.2 Discover Foreign Key Relationships

# Check if customer_id in orders exists in customers
valid_customer_ids = set(customers_df['customer_id'])
invalid_customers = orders_df[~orders_df['customer_id'].isin(valid_customer_ids)]

print("Invalid customer references in orders:", len(invalid_customers))

# Same for product_id
valid_product_ids = set(products_df['product_id'])
invalid_products = orders_df[~orders_df['product_id'].isin(valid_product_ids)]

print("Invalid product references in orders:", len(invalid_products))

Invalid customer references in orders: 1000
Invalid product references in orders: 0

Mismatch in Foreign Keys Invalid customer references in orders: 1000 This means None of the customer_id values in orders match the customer_id values in customers.

In [ ]:
# testing a different mapping for cust_id

valid_cust_ids = set(customers_df['cust_id'])
invalid_customers_v2 = orders_df[~orders_df['cust_id'].isin(valid_cust_ids)]

print("Invalid CUST_IDs from orders:", len(invalid_customers_v2))

Invalid CUST_IDs from orders: 0

## ‚úÖ Final Entity-Relationship Model (ERD)

After analysis and testing, the following relationships were discovered and confirmed:

### üéØ Primary Keys:
- `orders`: `order_id`
- `customers`: `cust_id` (chosen over `customer_id`)
- `products`: `product_id`

### üîó Foreign Key Relationships:
- `orders.cust_id ‚Üí customers.cust_id`
- `orders.product_id ‚Üí products.product_id`

---

## üßº Redundant or Misleading Columns:
- `order_id` vs `ord_id` ‚Üí use `order_id`
- `customer_id` vs `cust_id` ‚Üí use `cust_id`
- `item_id` vs `product_id` ‚Üí use `product_id`

These decisions guide the cleaning strategy and normalized schema design for Phase 2.

#### Step 6: 
Data Cleaning Strategy Planning

## üßπ Data Cleaning Strategy

Based on the profiling and relationship mapping, the following data cleaning plan is proposed:

### Orders Cleaning
- Keep: `order_id`, `cust_id`, `product_id`, `quantity`, `unit_price`, `order_total`, `tax`, `discount`, `shipping_cost`, `payment_method`, `shipping_address`, `order_datetime`
- Drop: redundant aliases (`ord_id`, `qty`, `price`, `total_amount`)
- Merge `status` and `order_status` ‚Üí `order_status_clean`
- Convert numeric and datetime fields

### Customers Cleaning
- Keep: `cust_id`, `full_name`, `email_address`, `phone_number`, `address`, `city`, `state`, `zip_code`, `registration_date`, `status`, `total_spent`, `loyalty_points`, `preferred_payment`, `gender`
- Drop: `customer_id`, `customer_name`, duplicate columns
- Standardize: status casing, null values, phone number formatting
- Convert types (e.g., `total_spent ‚Üí float`)

### Products Cleaning
- Keep: `product_id`, `product_name`, `description`, `category`, `brand`, `price`, `cost`, `stock_quantity`, `reorder_level`, `is_active`, `rating`
- Drop or rename: redundant fields (`item_name`, `manufacturer`)
- Convert: all pricing and ratings to floats
- Map: `is_active` ‚Üí Boolean

These transformations will be implemented in modular cleaning functions in Phase 2.